<div class="modal-header">
  <h4 class="modal-title">Add hitchhike</h4>
</div>
<div class="modal-body">
  <p class="lead">Good for you! You got hitchhiked!</p>
  <div class="getting-geolocation text-center" ng-show="!geolocationFailed && !currentPosition">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <p>Getting your current location...</p>
    <p>If a popup or any button has appeard in the browser asking for location detection permission, please allow.</p>
  </div>
  <div class="geolocation-failed" ng-show="geolocationFailed">
    <p class="lead">Your device does not support location detection. Please try again on a Chrome browser.</p>
  </div>
  <div class="geolocation-succeded" ng-show="currentPosition">
    <p>Your current location will be added to our maps for 24 hours.</p>
    <p>If you are still on the road and haven't got hitchhiked please cancel this operation</p>
  </div>
</div>
<div class="modal-footer hidden-xs">
  <button type="button" class="btn btn-default" ng-click="$close();">Cancel</button>
  <button type="button" class="btn btn-success" ng-click="confirm();" autocomplete="off" data-loading-text="Adding hitchhike...">Confirm</button>
</div>
<div class="modal-footer visible-xs">
  <button type="button" class="btn btn-default btn-lg" ng-click="$close();">Cancel</button>
  <button type="button" class="btn btn-success btn-lg" ng-click="confirm();" autocomplete="off" data-loading-text="Adding hitchhike...">Confirm</button>
</div>
